 *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

.head {
    height: 80px;
    background-color: #EBF1FF;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between;

}
.headfirst {
    display: flex;
    align-items: center;
     margin-left: 50px;
}
.logo {
    width: 75px;
   position: relative;
   top: 20px;
   left: 20px;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
   

}
.logo img {
    border-radius: 10px;
    height: 40px;
    width: 70px;
    position: relative;
    left: 14px;
    top: 10px;
}
.headcar {
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
  
}
.headcar a {
  text-decoration: none;
  color: black;
}
.headcar a:hover {
    color: blue;
}
.headsecond {
    display: flex;
    align-items: center;
    gap: 20px;
     margin-right: 50px;
}
.headthird  img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.headbutton button {
    padding: 13px;
    font-size: 1.3rem;
    font-weight: 700;
    width: 130px;
    border-top:8px solid #23E5DB ;
     border-left:8px solid  #FFCE32;
      border-right:8px solid  #3A77FF;
      border-bottom: 8px solid;
      border-radius: 25px;
}

nav {
    margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom:2px solid #D8DFE0 ;
    height: 75px;

    
}
.select {
    width: 400px;
    padding: 18px;
    font-size: larger;
    padding-left: 10px;
    padding-right: 20px;
}
.input {
    width: 650px;
    padding: 18px;
    font-size: larger;
    border-top-left-radius:10px ;
     border-bottom-left-radius:10px ;
}
.navbutton {
    width: 200px;
    padding: 18px;
    font-size: larger;
    border-top-right-radius:10px ;
     border-bottom-right-radius:10px ;
     margin-left: 0px;
     background-color: #002F34;
     color: white;
}
.navsecond {
    margin-left: 0;
}
#search {
    color: white;
}
.llink>select {
    border: none;
    font-size: 16px;
    font-weight: 700;
}
.llink select:active {
    outline: none;
}
.llink select:after {
    outline: none;
}
.llink a {
text-decoration: none;
color: #002F34;

}

.llink {
    margin-top: 15px;
    gap: 30px;
    display: flex;
    padding-left: 30px;
}
.add {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}
.addd {
    border-radius: 10px;
}
.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    

}
.imgg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large  ;
    font-weight: 500;
    width: 140px;
    padding-top: 20px;
   
}
/*card*/


.card {
    display: flex;
justify-content: space-evenly;
margin-top: 20px;
}

.cards {
    width: 390px;
    height: 450px;
    border: 1px solid #e4ecec;
    border-radius: 10px;
}
.cards p {
    font-size: 20px;
    margin-top: 10px;
}
.cardpic{
width: 100%;
height:390px ;
border-radius: 5px;

}
h1 {
    margin-left: 30px;
}
#h {
margin-top: 100px;
}
h3 {
    margin-left: 10px;
}
p {
    margin-left: 5px;
}
.watch {
    text-align: center;
    margin-top: 50px;
}
.adb {
    display: flex;
    background-color: #F7F8F9;
    border-top:2px solid #D8DFE0 ;
        border-bottom:2px solid #D8DFE0 ;
        justify-content: space-around;
        
}
.ww {
    font-size: 30px;
    font-weight: 600;
    padding-top: 40px;
    
}
.www {
    font-size: 30px;
    font-weight: 600;
    color: blue;
    
    
}
.gg {
display: flex;
    flex-direction: column;
    align-content: center;
}
.catagory {
    background-color: #F2F4F5;
    height: 400px;
    display: flex;
    align-items: center;
    
}
.foot {
width: 25%;
}
.fooot {
    width: 25%;
}
.foot {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    gap: 20px;

}
.e {
    margin-left: 0%;
}
.foot a{
    text-decoration: none;
    color: black;
}
footer {
    background-color: #002F34;
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    align-items: center;
    height: 75px;
}
.kf {
    display: flex;
    gap: 10px;
    align-items: center;
}
.pif {
    height: 60px;
    width: 60px;
    margin-left:10px ;
}